body {
    color: black;
    font-family: sans-serif;
    width: 80%;
    margin: auto;
}

.cabecera {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
}

.barra-nav {
    display: inline-block;
    background-color: gray;
    color: white;
    padding: 20px;
    margin: 20px 20px 20px 80px;
    text-align: center;
    border-radius: 15px;
}

.barra-sup {
    background-color: gray;
    color: white;
    padding: 20px;
    margin: 20px;
    text-align: right;
    border-radius: 15px;
}

.barra-sup a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 20px;
    vertical-align: top;
}

.barra-nav a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 20px;
    vertical-align: top;
}

.contenido-ppal {
    display: inline-block;
    border: 8px solid lightgray;
    width: 500px;
    padding: 20px 40px 20px 40px;
    color: black;
    margin: 20px;
    border-radius: 15px;
    vertical-align: top;
}

p {
    text-align: justify;
}

.pie {
    background-color: black;
    color: white;
    padding: 20px 80px 20px 20px;
    margin: 20px;
    text-align: right;
    border-radius: 15px;
}

table, th, td {
    border: black 1px solid;
}

